@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Taggy</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/twitter-typeahead.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-tagsinput.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-editable.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-override.css")">


        <script src="@routes.Assets.at("javascripts/libs/jquery-1.10.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/jquery.inputhints.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/libs/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/bootstrap-tagsinput.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/bootstrap-editable.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/typeahead.bundle.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/libs/tinymce/tinymce.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/API.js")" type="text/javascript"></script>




        <script src="@routes.Assets.at("javascripts/common/Popup.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/TagsInput.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/note/Payload.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/note/NewPayload.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/note/NewNoteView.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/note/cards/NoteCard.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/note/cards/CardView.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/note/list/ListView.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/filter/NewFilterView.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/filter/FilterSearchTreeView.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/filter/StarredFiltersView.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/filter/FilterView.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/SearchView.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/TagList.js")" type="text/javascript"></script>
    </head>
    <body>
        <table style="width: 100%; margin: 0.5em;">
            <tr>
                <td style="border-right: 0.1em solid black; padding-right: 0.5em" valign="top">
                    <div id="newNote"></div>
                    <br/>
                    <div style="white-space: nowrap">
                        <input id="searchQuery" type="text" placeholder="Search notes and tags" style="width: 89%;"/> <button id="searchButton">?</button>
                    </div>
                    <br/>
                    <div>
                        All tags:
                        <div id="tagsList"></div>
                    </div>
                </td>
                <td style="width: 100%" valign="top">
                    <div style="margin-left: 1em">
                        <div id="filters" style="float: left"></div>
                        <div style="clear:both"></div>
                    </div>
                    <hr/>
                    <div id="content" style="float: left; width: 100%; margin-top: 1em; margin-left: 2em">@content</div>
                </td>
            </tr>
        </table>


        <script type="text/javascript">
            var filterView = new FilterView({
                appendTo: $("#content"),
                //view: new ListView()
            });
            var filtersView = new FiltersView({
                filters: "all",
                appendTo: $("#filters"),
                onFilterChanged: function (filter) {
                    setUrl("/filter/" + filter.id);
                    filterView.setFilter(filter);
                }
            });

            $(function() {
                // hook up placeholder text on any input with a placeholder attribute
                $('input[placeholder]').inputHints();

                $("#searchButton").on("click", function () {
                    var query = $("#searchQuery").val();

                    searchPayloadsAndTagNames(query, function (matches){
                        setUrl("/search/" + query);
                        var searchView = new SearchView(query, matches);
                        $("#content").empty();
                        $("#content").append(searchView);
                    });
                });

                $("#newNote").append(new NewNoteView());

                filtersView.populate();

                findAllTagsWithNumberOfNotes(populateTagsList);
            });

            function populateTagsList(tags) {
                $("#tagsList").empty();
                $("#tagsList").append(new TagList(tags));
            }
        </script>
    </body>
</html>
