@(filter: Filter)

@import helper._
@import play.libs.Json

@main("Todo list") {

<div>
    <div id="filters" style="float: left"></div>
    <div id="newNote" style="float: right"></div>
    <div style="clear:both"></div>
</div>

<hr/>
<div>
    <div id="hamburger">
        <input type="text" placeholder="Search notes" />
        <br/>
        <br/>
        All Filters:
        <ul>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
            <li>a</li>
        </ul>

    </div>
    <div id="filter" style="float: left; width: 100%; margin-top: 1em"></div>
</div>

<script src="@routes.Assets.at("javascripts/common/Popup.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/common/Hamburg.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/common/TagsInput.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/note/Payload.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/note/NewPayload.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/note/NewNoteView.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/note/cards/NoteCard.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/note/cards/CardView.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/note/list/ListView.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/filter/NewFilterView.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/filter/FilterSearchTreeView.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/filter/StarredFiltersView.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/filter/FilterView.js")" type="text/javascript"></script>
<script type="text/javascript">
    var filtersView = new FiltersView({
        filters: "all",
        appendTo: $("#filters"),
        onFilterChanged: changeFilter
    });
    var filterView = new FilterView({
        appendTo: $("#filter"),
        //view: new ListView()
    });

    function changeFilter(filter) {
        window.history.pushState("hej", "Sometitle", "?filterId=" + filter.id);
        filterView.setFilter(filter);
    }

    $(document).ready(function() {
        new Hamburg({
            object: $("#hamburger"),
        });

        filtersView.populate();


        var btn = $("<button>+</button>");
        var newNoteView = new NewNoteView();
        var popup = new Popup(newNoteView, btn, "right");
        $("#newNote").append(btn);

        @if(filter != null) {
            var preselectedFilter = @Html(Json.stringify(Json.toJson(filter)))
            changeFilter(preselectedFilter);
        }
    });
</script>
}
