@import helper._
@main("Todo list") {


<ul id="filters"></ul>

<div style="width: 15em;">
    <input type="text" id="newFilterName" placeholder="Filter name" />
    <select multiple id="newFilterTags"></select>
    <input type="button" id="createFilterBtn" value="Create" />
</div>

<script type="text/javascript">
    $(document).ready(function() {
        setupTagsBox($("#newFilterTags"));

        $("#createFilterBtn").on("click", function() {
            addFilter($("#newFilterName").val(), getTags(), function (newFilter) {
                clearInput();
                appendFilter(newFilter);
            })
        });

        getAllFilters(function(filters) {
            $.each(filters, function(i , filter) {
                appendFilter(filter);
            });
        })
    });

    function getTags() {
        var tags = [];
        $.each($("#newFilterTags").tagsinput("items"), function (i, tagWithIffyId) {
            if (!isNumber(tagWithIffyId.id)) {
                var newTag = {
                    name: tagWithIffyId.name
                };
                tags.push(newTag);
            } else {
                tags.push(tag);
            }
        });
        return tags;
    }

    function clearInput() {
        $("#newFilterName").val("");
        $("#newFilterTags").tagsinput('removeAll');
    }

    function appendFilter(filter) {
        var link = $("<a></a>");
        link.attr("href", "/filter/view/" + filter.id);
        link.append(filter.name);

        var li = $("<li></li>");
        li.append(link);
        $("#filters").append(li);
    }
</script>
}