@import helper._
@main("Todo list") {

<div id="taggables"></div>

<div style="width: 15em" class="card">
    <h2>Add a new task</h2>

    <input type="text" id="newPayload" placeholder="Payload" style="width: 97%"/>
    <input type="text" id="newTags" /> <br/>
    <input type="button" onclick="saveNew()" value="Add" />
</div>

<script src="@routes.Assets.at("javascripts/TaggableCard.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#newTags').tagsInput({
            autocomplete_url:"@routes.TagController.listNames()"
        });

        loadObjects();
    });

    function loadObjects() {
        $.ajax({
            url: "@routes.TaggableController.list()",
            type: "GET",
            dataType: "json",
            success: showObjects,
            error: genericAjaxError
        });
    }

    function showObjects(objects) {
        $.each(objects, function(i, obj) {
            appendObject(obj);
        });
    }

    function appendObject(taggable) {
        var card = new TaggableCard(taggable, removeTaggable, removeTagFromTaggable);
        card.attr("id", "taggable-" + taggable.id);
        $("#taggables").append(card);
    }

    function saveNew() {
        $.ajax({
            url: "@routes.TaggableController.save()",
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                tags: getTags(),
                payload: $("#newPayload").val(),
            }),
            success: function(newObject) {
                clearInput();
                appendObject (newObject);
            },
            error: genericAjaxError
        });
    }

    function genericAjaxError(xhr, status, error) {
        alert("ERROR");
        console.log(xhr);
        console.log(status);
        console.log(error);
    }

    function getTags() {
        return $("#newTags").val().split(",");
    }

    function clearInput() {
        $("#newPayload").val("");
        $("#newTags").importTags("");
    }

    function removeTaggable(taggableId) {
        $.ajax({
            url: "@routes.TaggableController.remove()",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                id: taggableId
            }),
            success: function() {
                console.log("SUCCESS");
                $("#taggable-" + taggableId).remove();
            },
            error: genericAjaxError
        });
    }

    function removeTagFromTaggable(taggableId, tagId) {
        $.ajax({
            url: "@routes.TaggableController.untag()",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                taggableId: taggableId,
                tagId: tagId
            }),
            success: function(res) {
                console.log("SUCCESS");
                console.log(res);
                $("#taggable-" + taggableId + " #tag-" + tagId).remove();
            },
            error: genericAjaxError
        });
    }
</script>
}