@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">


        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/twitter-typeahead.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-tagsinput.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap-editable.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-override.css")">


        <script src="@routes.Assets.at("javascripts/libs/jquery-1.10.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/jquery.inputhints.min.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/libs/bootstrap.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/bootstrap-tagsinput.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/bootstrap-editable.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/libs/typeahead.bundle.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/libs/tinymce/tinymce.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/utils.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/common/API.js")" type="text/javascript"></script>
    </head>
    <body>
        @content

        <script type="text/javascript">
            $(function() {
                // hook up placeholder text on any input with a placeholder attribute
                $('input[placeholder]').inputHints();
            });
        </script>
    </body>
</html>
