@import helper._

@(filter: Filter)
@main("Todo list") {

<div id="taggables"></div>

<div style="width: 15em" class="card">
    <h2>Add a new task</h2>

    <input type="text" id="newPayload" placeholder="Payload" style="width: 97%"/>
    <input type="text" id="newTags" /> <br/>
    <input type="button" id="addBtn" value="Add" />
</div>

<script src="@routes.Assets.at("javascripts/TaggableCard.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#newTags').tagsInput({
            autocomplete_url: "@routes.TagController.listNames()"
        });

        $("#addBtn").on("click", function () {
            addTaggable($("#newPayload").val(), getTags(), function(newObject) {
                clearInput();
                appendObject (newObject);
            });
        });

        loadObjects(["a", "b"], showObjects);
    });

    function showObjects(objects) {
        $.each(objects, function(i, obj) {
            appendObject(obj);
        });
    }

    function appendObject(taggable) {
        var card = new TaggableCard(taggable, function (taggableId) {
            removeTaggable(taggableId, function() {
                $("#taggable-" + taggableId).remove();
            });
        });
        card.attr("id", "taggable-" + taggable.id);
        $("#taggables").append(card);

        $.each(card.children("[tag-data]"), function (i, input) {
            $(this).tagsInput({
                autocomplete_url: "@routes.TagController.listNames()",
                onAddTag: function (tagName) {
                  addTagToTaggable(taggable.id, [tagName]);
                },
                onRemoveTag: function (tagName) {
                    removeTagFromTaggable(taggable.id, tagName);
                }
            });
            $(this).importTags($(this).attr("tag-data"));
        });
    }


    function getTags() {
        return $("#newTags").val().split(",");
    }

    function clearInput() {
        $("#newPayload").val("");
        $("#newTags").importTags("");
    }
</script>

}