@(filter: Filter)

@import helper._
@import play.libs.Json
@import services.TagsService
@main("Todo list") {

<div style="width: auto; display: inline-block; padding: 1em">
@if(filter == null) {
  <h3>Showing all objects</h3>
} else {
  <h3>Showing @filter.name</h3>
  <select multiple id="tags-summary"></select>
}
</div>
<div style="clear: both"></div>
<hr/>

<div id="notes"></div>

<div style="width: 17em" class="card">
    <h2>Add a new note</h2>
    <br/>
    
    <input type="text" id="newPayload" placeholder="Payload" style="width: 100%" />
    <div class="line-separator"></div>
    <select multiple id="newTags" placeholder="Tags"></select>
    <input type="button" id="addBtn" value="Add" style="float: right" />
    <div class="line-separator"></div>
</div>

<script src="@routes.Assets.at("javascripts/NoteCard.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        setupTagsBox($('#newTags'));

        $("#addBtn").on("click", function () {
            addNote($("#newPayload").val(), getTags(), function(newObject) {
                clearInput();
                appendObject (newObject);
            });
        });

        @if(filter == null) {
            loadAllObjects(showObjects);
        } else {
            loadObjectsInFilter(@filter.id, showObjects)

            setupTagsBox($("#tags-summary"), {
                onAddTag: function (tag) {
                    addTagToFilter(@filter.id, tag.name, function (updatedFilter) {
                        $.each(updatedFilter.tags, function(i, newTag) {
                           if (newTag.name === tag.name) {
                               tag.id = newTag.id;
                           } 
                        });
                        loadObjectsInFilter(@filter.id, showObjects)
                    });
                },
                onRemoveTag: function (tag) {
                    removeTagFromFilter(@filter.id, tag.id, function () {
                        loadObjectsInFilter(@filter.id, showObjects)
                    });
                },
            });

            var tags = @Html(Json.stringify(Json.toJson(filter.tags)));
            $("#tags-summary").tagsinput("addAll", tags);
        }
    });

    function showObjects(objects) {
        $("#notes").html("");
        $.each(objects, function(i, obj) {
            appendObject(obj);
        });
    }

    function appendObject(note) {
        var card = new NoteCard(note, function (noteId) {
            removeNote(noteId, function() {
                $("#note-" + noteId).remove();
            });
        });
        card.attr("id", "note-" + note.id);
        
        var tagsRow = card.children(".tagsRow");
        setupTagsBox(tagsRow, {
            onAddTag: function (tag) {
                addTagToNote(note.id, tag.name, function (updatedNote) {
                    console.log(updatedNote);
                    $.each(updatedNote.tags, function(i, newTag) {
                        if (newTag.name === tag.name) {
                            tag.id = newTag.id;
                        } 
                     });
                });
            },
            onRemoveTag: function (tag) {
                removeTagFromNote(note.id, tag.id);
            }
        });
        tagsRow.tagsinput("addAll", note.tags);
        
        $("#notes").append(card);
    }

    function getTags() {
        var tags = [];
        $.each($("#newTags").tagsinput("items"), function (i, tagWithIffyId) {
            if (!isNumber(tagWithIffyId.id)) {
                var newTag = {
                    name: tagWithIffyId.name
                };
                tags.push(newTag);
            } else {
                tags.push(tag);
            }
        });
        return tags;
    }

    function clearInput() {
        $("#newPayload").val("");
        $("#newTags").tagsinput('removeAll');
    }
</script>

}