@(filter: Filter)

@import helper._
@import play.libs.Json
@import services.TagService
@import search.SearchTreeToJson
@main("Todo list") {

<div style="width: auto; display: inline-block; padding: 1em">
@if(filter == null) {
  <h3>Showing all objects</h3>
} else {
  <h3>Showing @filter.name</h3>
  <select multiple id="tags-summary"></select>
}
</div>
<div style="clear: both"></div>
<hr/>

<div id="notes"></div>

<div style="width: 17em" class="card">
    <h2>Add a new note</h2>
    <br/>

    <div id="newPayload"></div>

    <div class="line-separator"></div>

    <select multiple id="newTags" placeholder="Tags"></select>

    <input type="button" id="addBtn" value="Add" style="float: right" />
    <div class="line-separator"></div>
</div>

<script src="@routes.Assets.at("javascripts/note/Payload.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/note/cards/NoteCard.js")" type="text/javascript"></script>
<script type="text/javascript">
    var newPayload = new Payload();
    $(document).ready(function() {

        $("#newPayload").append(newPayload.ui);

        setupTagsBox($('#newTags'));
        setupAddNoteButton();
        loadNotes();
    });

    function setupAddNoteButton() {
        $("#addBtn").on("click", function () {
            addNote(newPayload.val(), getNewTags(), function(newObject) {
                clearInput();
                appendObject (newObject);
            });
        });
    }

    function loadNotes() {
        @if(filter == null) {
            loadAllObjects(showObjects);
        } else {
            loadObjectsInFilter(@filter.id, showObjects)

            setupTagsBox($("#tags-summary"), {
                onAddTag: function (tag) {

                    updateFilter(@filter.id, "@filter.name", getSearchTree(getTagsById("tags-summary")), function (updatedFilter) {
                         var tags = findTags(updatedFilter.searchTree);
                         $.each(tags, function(i, newTag) {
                           if (newTag.name === tag.name) {
                               tag.id = newTag.id;
                           }
                        });
                        loadObjectsInFilter(@filter.id, showObjects)
                    });
                },
                onRemoveTag: function (tag) {
                    updateFilter(@filter.id, "@filter.name", getSearchTree(getTagsById("tags-summary")), function () {
                        loadObjectsInFilter(@filter.id, showObjects)
                    });
                },
            });

            var searchTree = @Html(Json.stringify(SearchTreeToJson.parse(filter.getSearchTree())));
            tags = findTags(searchTree);
            $("#tags-summary").tagsinput("addAll", tags);
        }
    }

    function findTags(searchTree, tags) {
        if (tags === undefined) {
            var tags = [];
        }

        if (searchTree.type === "ideq") {
            if (searchTree.name !== "archive") {
                tags.push({
                    id: searchTree.id,
                    name: searchTree.name
                });
            }
        } else if (searchTree.child !== undefined) {
            return findTags(searchTree.child, tags)
        } else if (searchTree.children !== undefined) {
            $.each(searchTree.children, function(i, child) {
                findTags(child, tags)
            });
        }

        return tags;
    }

    function showObjects(objects) {
        $("#notes").html("");
        $.each(objects, function(i, obj) {
            appendObject(obj);
        });
    }

    function appendObject(note) {
        var card = new NoteCard(note, function (noteId) {
            addTagToNote(noteId, "archive", function(updatedNote) {
                tagsRow.tagsinput("removeAll");
                tagsRow.tagsinput("addAll", updatedNote.tags);
            });
        });
        card.attr("id", "note-" + note.id);

        var tagsRow = card.children(".tagsRow");
        setupTagsBox(tagsRow, {
            onAddTag: function (tag) {
                addTagToNote(note.id, tag.name, function (updatedNote) {
                    $.each(updatedNote.tags, function(i, newTag) {
                        if (newTag.name === tag.name) {
                            tag.id = newTag.id;
                        }
                     });
                });
            },
            onRemoveTag: function (tag) {
                removeTagFromNote(note.id, tag.id);
            }
        });
        tagsRow.tagsinput("addAll", note.tags);

        $("#notes").append(card);
    }

    function getSearchTree(tags) {
        var tagsOr = {
            type: "or",
            children: []
        };
        $.each(tags, function (i, tag) {
           tagsOr.children.push({
              type: "ideq",
              id: tag.id,
              name: tag.name
           });
        });

        return {
            type: "and",
            children: [{
                type: "not",
                child: {
                    type: "ideq",
                    name: "archive"
                }
            }, tagsOr]
        };
    }

    function getNewTags() {
        return getTagsById("newTags");
    }

    function getTagsById(id) {
        var tags = [];
        $.each($("#" + id).tagsinput("items"), function (i, tagWithIffyId) {
            if (!isNumber(tagWithIffyId.id)) {
                var newTag = {
                    name: tagWithIffyId.name
                };
                tags.push(newTag);
            } else {
                tags.push(tagWithIffyId);
            }
        });
        return tags;
    }

    function clearInput() {
        newPayload.empty();
        $("#newTags").tagsinput('removeAll');
    }
</script>

}