.card {
    padding-top: 0.5em;
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    border: 0.1em solid #CCC;
}

.card .text {
    font-size: 1.7em;
    color: #555;
    margin-bottom: 0.5em;
    word-wrap: break-word;
}

.remove {
    font-size: 1.7em;
    text-decoration: none;
    color: #555;
}

input[type=text] {
    outline: 0px;
    border: 0.1em solid #CCC;
    padding: 0.2em;
}

input.hint {
    color: #AAA;
}

.line-separator {
    clear: both;
    height: 0.6em;
}

.filter {
    font-size: 3em;
    margin-right: 0.5em;
}

.hamburger-wrapper {
    border: 0.1em solid black;
    padding: 0.2em;
    background-color: white;
}